<!doctype html>
<html lang="en">
  <head>
    <title>Add New User</title>
  </head>
  <body>
    <h1>Add New User</h1>
    <form action="{{ url_for('add_movie') }}" method="post">
      <label for="name">first_name:</label><br />
      <input type="text" id="first_name" name="first_name" required /><br />
      <label for="name">last_name:</label><br />
      <input type="text" id="last_name" name="last_name" required /><br />
      <label for="genre">Favorite Genre:</label><br />
      <input type="text" id="genre" name="genre" required /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
